* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
   user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  

}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* BG real que estica para preencher tela inteira */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* estica para preencher */
  z-index: 0;
}

/* NPCs */
.npc {
  height: 52%; 
  position: absolute;
}

#wayway {
  top: 26%;
  left: 17%;
}


#myopic {
  top: 35%;
  left: 60%;
}

#locker {
  position: absolute;
  width: 18%;
  height: 38%;
  top: 50%;
  left: 45%;
  z-index: 0;
}
