* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
   user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* BG real que estica para preencher tela inteira */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* estica para preencher */
  z-index: 0;
}

/* NPCs */
.npc {
  height: 12%; 
  position: absolute;
filter: 
        /* A mágica: Deslocamento 0, mas com 1px de blur */
        /* Use rgba para controlar a intensidade. 0.8 é forte, 0.4 é sutil */
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.8))
}



.snake {
  height: 9%;
  position: absolute;
  filter: 
        /* A mágica: Deslocamento 0, mas com 1px de blur */
        /* Use rgba para controlar a intensidade. 0.8 é forte, 0.4 é sutil */
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.8))
}

#marin {
  width: 5%;
  top: 50%;
  left: 60%;
}

#kofongoon {
  width: 4%;
  top: 55%;
  left: 50%;
  display: none;
}
#capella {
  width: 4%;
  top: 55%;
  left: 53.5%;
  display: none;
  display: none;

}
#aldebaran {
  width: 4%;
  top: 55%;
  left: 57%;
  display: none;

}
#pollux {
  width: 4%;
  top: 55%;
  left: 64%;
  display: none;
}
#rigelon {
  width: 4%;
  top: 55%;
  left: 67.5%;
  display: none;
}
#sirius {
  width: 4%;
  top: 55%;
  left: 70%;
  display: none;

}

#cat {
  position: absolute;
  width: 4%;
  height: 9%;
  top: 49%;
  left: 41%;
  filter: 
        /* A mágica: Deslocamento 0, mas com 1px de blur */
        /* Use rgba para controlar a intensidade. 0.8 é forte, 0.4 é sutil */
        drop-shadow(0 0 1px rgba(0, 0, 0, 0.8))
}

#ballerina {
  width: 5%;
  top: 65%;
  left: 75%;
}

#pine {
  width: 5%;
  top: 82%;
  left: 50%;
}

#day25 {
  width: 5%;
  top: 14%;
  left: 60%;
}

#mint {
  width: 5%;
  height: 14%;
  top: 45%;
  left: 20%;
  object-fit: contain;

}

#lily {
  width: 5%;
  top: 0%;
  left: 25%;
}

#felicia {
  width: 5%;
  top: 80%;
  left: 9%;
}

.back {
  position: absolute;
  cursor: pointer;
  background: transparent;
  z-index: 1000;
  
}

#market {
  top: 9%;     
  left: 31%;    
  width: 12%;   
  height: 21%;  
}
#bar {
  top: 5%;     
  left: 82%;    
  width: 17%;   
  height: 26%;  
}
#templo {
  top: 30%;     
  left: 53%;    
  width: 17%;   
  height: 20%;  
}
#cave {
  top: 0%;     
  left: 0%;    
  width: 17%;   
  height: 21%;  
}
#forest {
  top: 70%;     
  left: 5%;    
  width: 12%;   
  height: 24%;  
}

.poste {
  position: absolute;
  width: 3.5%;   
  height: 17%;
  z-index: 1000;

}

#poste1 {
  top: 79%;     
  left: 55%;
}

#poste2 {
  top: 79%;     
  left: 64%;
}
#poste3 {
  top: 0%;     
  left: 66%;
}
#poste4 {
  top: 0%;     
  left: 55%;
}
#poste5 {
  top: 27%;     
  left: 28%;
}
#poste6 {
  top: 46.2%;     
  left: 28%;
}
#poste7 {
  top: 27%;     
  left: 93%;
}
#poste8 {
  top: 44%;     
  left: 93%;
}
#poste9 {
  top: 42%;     
  left: 46%;
}
#poste10 {
  top: 42%;     
  left: 73%;
}

#hole {
  position: absolute;
  width: 6%;   
  height: 11%;
  top: 61.5%;     
  left: 36.6%;
  z-index: 400;
}

#fakehole {
  position: absolute;
  width: 6%;   
  height: 11%;
  top: 61.5%;     
  left: 36.6%;
  z-index: 450;

}

#rode {
  position: absolute;
  width: 10%;   
  height: 22%;
  top: 45%;     
  left: 31%;
  z-index: 500;
  user-select: none;
}

/* #ice {
  position: absolute;
  width: 5%;   
  height: 13%;
  top: 79%;     
  left: 9.5%;
  z-index: 500;
  user-select: none;
} */

