body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

#cenario {
    position: relative;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 1/1;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.hotspot{
    width: 300px;
    max-width: 20%;
    

}

.tool{
    width: 400px;
    max-width: 20%;

    
}

.hotspot{
    position: absolute;
    width: 200px;
    max-width: 20%;
    top: 35%;
    left: 50%;

}

.vela2{
    background-image: url(.vela2.png);
    width: 300px;
    max-width: 20%; 

}

.invisible{
    display: none;

}

