* {
 touch-action: manipulation;
  user-select: none;         /* bloqueia seleção de texto */
  -webkit-user-drag: none;   /* impede arrastar imagens no Chrome/Safari */
    overflow: hidden; /* remove barras de rolagem */
}

#fire-background {
  position: fixed;   /* Fica fixo na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;       /* Atrás de tudo */
  pointer-events: none; /* Permite clicar nos elementos acima */
}
