* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
   user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* BG real que estica para preencher tela inteira */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* estica para preencher */
  z-index: 0;
}

/* NPCs */

#felicia {
  position: absolute;
  width:18%;
  height: 45%;
  top: 50%;
  left: 40%;
  z-index: 500;
  display: none;
}
#cobra3 {
  position: absolute;
  width:9%;
  height: 25%;
  top: 70%;
  left: 43%;
  z-index: 501;

}
#iceBlock {
  position: absolute;
  width:18%;
  height: 45%;
  top: 50%;
  left: 40%;
  z-index: 510;
}
